*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.title{
    font-family: 'Segoe UI';
    color: black;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 1050px;
    justify-content: center;
}

nav > h3{
    margin-left: -80px;
    color: white;
    font-family: 'Trebuchet MS';
    font-weight: bold;
}

p{
    font-family: 'Trebuchet MS';
    color: rgb(65, 65, 65);
}

.header-section > img{
    width: 100%;
}

nav{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center; 
}

nav > a{
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS';
    font-weight: bold;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.icons{
    width: 20px;
    height: 20px;
}

#biografia{
    margin-top: 30px;
    justify-items: center;
    gap: 250px;
}

#biografia > p{
    width: 1050px;
}

#carreira{
    justify-items: center;
    margin-bottom: 50px;
}

#carreira > p{
    width: 1050px;
}

.row{
    display: flex;
    gap: 85px;
    margin-bottom: 30px;
}

.column{
    margin-top: 50px;
    border-radius: 8px;
    width: 200px;
    height: 300px;
    box-shadow: 2px 2px 3px 2px rgb(173, 173, 173);
}

.column > img{
    width: 100%;
    border-radius: 8px;
    padding-bottom: 5px;
}

.column > p{
    padding-left: 10px;
    font-size: small;
    line-height: 20px;
}

#conquistas{
    background-image: url(../assets/image/Background.png);
    width: 100%;
    height: 300px;
}

#conquistas > .conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#conquistas > h1, h2{
    color: white;
    font-family: 'Trebuchet MS';
    text-align: center;
    padding: 20px;
}

.conteudo > div > p{
    color: white;
}

.conteudo > div > img{
    width: 80px;
    padding-left: 20px;

}

#fenty-beauty{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12%;
}

.text > p{
    width: 400px;
}

.text > .cards-informativos{
    columns: 2;
    gap: 10px;
    width: 400px;
    margin-top: 40px;
}

.cards-informativos > .card {
    background-color: #FFE8F4;
    width: 190px;
    height: 80px;
    justify-items:center;
    align-content: center;
    border-radius: 8px;
}

.card > h3{
    color: #E579B1;
    font-size: 1.5em;
    font-weight:bold;
    font-family: 'Trebuchet MS';
}

.img > img{
    height: 350px;
}

#familia{
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    gap: 12%;
    justify-content: center;
    align-items: center;
}

.text > p{
    width: 500px;
}

.text > .cards-informativos{
    columns: 2;
    gap: 60px;
    width: 400px;
    margin-top: 40px;
}

.cards-informativos > .card-familia {
    background-color: #FFE8F4;
    width: 200px;
    height: 100px;
    justify-items:center;
    align-content: center;
    border-radius: 8px;
}

.card-familia > h3{
    color: #E579B1;
    font-size: 1.2em;
    font-weight:bold;
    font-family: 'Trebuchet MS';
    margin-bottom: 5px;
}

#title-section{
    font-family: 'Segoe UI';
    color: black;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 50px;
    width: 27%;
    margin-left: 20%;
}

footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14%;
    height: 150px;
}

footer > .logo{
    align-items: center;
    display: flex;
    gap: 30px;
}

.logo > p{
    color: white;
    font-weight: 600;
    font-size: larger;
}

.logo > img{
    width: 80px;
    border-radius: 40px;
    align-items: center ;
}

.tags > a{
    color: white;
    font-size: medium;
    font-family: 'Trebuchet MS';
    margin-left: 100px;
}

a > img{
    width: 50px;
    padding: 10px;
}





